trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

- script: dotnet restore
  displayName: 'Restore dependencies'

- script: dotnet build --no-restore
  displayName: 'Build project'

- script: dotnet test --no-build --logger "trx;LogFileName=test_results.trx"
  displayName: 'Run unit tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test_results.trx'
    testRunTitle: 'Unit Tests'
